
.pageBackground {
  min-height: 100vh;
  background-image: url("/background-ash.png"); 
  background-size: cover;
  background-position: center;
  padding: 40px;
}


.profileContainer {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}


.leftCard {
  width: 280px;
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 0 auto 20px;
}

.email {
  color: #444;
  margin-bottom: 15px;
}

.infoBox {
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;
  border: 1px solid #e5e5e5;
}

.favoritePokemon {
  color: rgb(255, 115, 0);
}


.rightContent {
  flex: 1;
  padding: 20px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
}

.sectionTitle {
  margin-bottom: 20px;
  font-size: 24px;
}


.pokemonGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.pokemonCard {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  border: 1px solid #dcdcdc;
}

.pokemonImage {
  width: 90px;
}

